{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} ناب مارکت{% endblock %}
{% block comment %}
   {% if messages %}
      {% for messages in messages %}
         <script>
           document.addEventListener('DOMContentLoaded', function() {
               // تنظیم زمان (در مثال زیر، 5 ثانیه)
               var timerDuration = 3000; // میلی‌ثانیه
               // انتخاب المان الرت
               var alertElement = document.getElementById('alert');
               // تایمر برای حذف المان الرت
               setTimeout(function() {
                   alertElement.remove();
               }, timerDuration);
           });
         </script>
         <div id="alert" class="alert alert-primary" role="alert">
           <strong>{{ messages }}</strong>
         </div>
      {% endfor %}
   {% endif %}

      <br>
      <!---------------------------------->
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="slider-box">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">

                           <div class="">
                              <img src="{% static 'img/slider-2.jpg' %}" class="" >
                           </div>
                        </div>
                        <div class="carousel-item">

                           <div class="">
                              <img src="{% static 'img/slider-3.jpg' %}" class="w-full" >
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--slider-box-->
            </div>
         </div>
      </div>
      <!---------------------------------->
      <div class="container">
         <div class="row">
            <div class="col-md-3">
               <div class="coopen">
                  <img src="img/coopen.png" class="w-100" />
               </div>
            </div>
            <div class="col-md-9">
               <div class="vizheh">
                  <div class="col-md-6">
                     <div class="vizheh-img">
                        <img src="img/p20lite-listimage-black.png" class="w-100" />
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="vizheh-content">
                        <div><del>729,000 تومان</del></div>
                        <h4>685,000 تومان</h4>
                        <h3>Huawei Tab Y300G2</h3>
                        <ul>
                           <li>حافظه داخلی 32 گیگابایت</li>
                           <li>دوربین 13 مگاپیکسل</li>
                        </ul>
                        <hr>
                        <span>زمان باقیمانده تا پایان سفارش</span>
                        <div class="counter" data-minutes-left="1000"></div>
                     </div>
                  </div>
                  <div class="vizheh-tag">
                     <span>فرصت ویژه</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="one-slider">
                  <h4>تخفیف های ویژه</h4>
                  <div class="owl-carousel owl-theme ov1">
                  {% for product in product %}
                     <div class="item">
                        <figure>
                           <a href="{% url 'vue'  product.pk %}"><img src="{{product.img.url}}" class="w-100" /></a>
                        </figure>
                        <h5>{{product.name}}</h5>
                        {% if product.discount == 0 %}
                           <br>
                        {% else %}
                        <div><del>{{product.price|intcomma}}</del></div>

                        {% endif %}

                        <span>{{product.discounted_price | intcomma }}تومان</span>
                     </div>
                  {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="book-baner">
                  <a href="#"><img src="{% static 'img/book-baner.jpg' %}" class="w-100" /></a>
                  <h4>کتاب های کنکور</h4>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="two-slider">
                  <h4>پرفروش ترین ها</h4>
                  <div class="owl-carousel owl-theme ov2">

                     {% for product in product %}
                     <div class="item">
                        <figure>
                           <a href="{% url 'vue'  product.pk %}"><img src="{{product.img.url}}" class="w-100" /></a>
                        </figure>
                        <h5>{{product.name}}</h5>
                        {% if product.discount == 0 %}
                           <br>
                        {% else %}
                        <div><del>{{product.price|intcomma}}</del></div>

                        {% endif %}

                        <span>{{product.discounted_price | intcomma }}تومان</span>
                     </div>
                  {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="bodybulding-baner">
                  <a href="#"><img src="{% static 'img/bodybulding-baner.jpg' %}" class="w-100" /></a>
                  <h4>مکمل های ورزشی</h4>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="three-slider">
                  <h4>جدید ترن محصولات</h4>
                  <div class="owl-carousel owl-theme ov3">

                     {% for product in new_products %}
                     <div class="item">
                        <figure>
                           <a href="{% url 'vue'  product.pk %}"><img src="{{product.img.url}}" class="w-100" /></a>
                        </figure>
                        <h5>{{product.name}}</h5>
                        {% if product.discount == 0 %}
                           <br>
                        {% else %}
                        <div><del>{{product.price|intcomma}}</del></div>

                        {% endif %}

                        <span>{{product.discounted_price | intcomma }}تومان</span>
                     </div>
                  {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <div class="blog-content">
                  <figure>
                     <img src="{% static 'img/off/watch/1.jpg' %}" class="w-100">
                  </figure>
                  <h5><i class="fa fa-title"></i>گوشی هوشمند جیبی</h5>
                  <p>گوشی هوشمند جیبی تکنولوژی جدید کمپانی اپل،با خاصیت ضد آب بودن و حمل بسیار مخفی،باقابلیت حمل داخل گوش...</p>
                  <ul>
                     <li><i class="fa fa-bars"></i>دسته بندی : تکنولوژی</li>
                     <li><i class="fa fa-calendar-o"></i>نوشته شده در : 97/10/20</li>
                     <li><i class="fa fa-user-o"></i>نویسنده : سئو 90</li>
                  </ul>
                  <a href="#" class="mybtn"><i class="fa fa-continuous"></i>ادامه مطلب&raquo;</a>
               </div>
            </div>
            <div class="col-md-4">
               <div class="blog-content">
                  <figure>
                     <img src="{% static 'img/off/watch/1.jpg' %}" class="w-100">
                  </figure>
                  <h5><i class="fa fa-title"></i>گوشی هوشمند جیبی</h5>
                  <p>گوشی هوشمند جیبی تکنولوژی جدید کمپانی اپل،با خاصیت ضد آب بودن و حمل بسیار مخفی،باقابلیت حمل داخل گوش...</p>
                  <ul>
                     <li><i class="fa fa-bars"></i>دسته بندی : تکنولوژی</li>
                     <li><i class="fa fa-calendar-o"></i>نوشته شده در : 97/10/20</li>
                     <li><i class="fa fa-user-o"></i>نویسنده : سئو 90</li>
                  </ul>
                  <a href="#" class="mybtn"><i class="fa fa-continuous"></i>ادامه مطلب&raquo;</a>
               </div>
            </div>
            <div class="col-md-4">
               <div class="blog-content">
                  <figure>
                     <img src="{% static 'img/off/watch/1.jpg' %}" class="w-100">
                  </figure>
                  <h5><i class="fa fa-title"></i>گوشی هوشمند جیبی</h5>
                  <p>گوشی هوشمند جیبی تکنولوژی جدید کمپانی اپل،با خاصیت ضد آب بودن و حمل بسیار مخفی،باقابلیت حمل داخل گوش...</p>
                  <ul>
                     <li><i class="fa fa-bars"></i>دسته بندی : تکنولوژی</li>
                     <li><i class="fa fa-calendar-o"></i>نوشته شده در : 97/10/20</li>
                     <li><i class="fa fa-user-o"></i>نویسنده : سئو 90</li>
                  </ul>
                  <a href="#" class="mybtn"><i class="fa fa-continuous"></i>ادامه مطلب&raquo;</a>
               </div>
            </div>
            <ul class="nav nav-tabs">
            {% for category in category %}
            <li class="active"><a data-toggle="tab" href="#watch"><i class="fa fa-gift"></i>ساعت مچی</a></li>
            {% endfor %}
         </ul>
         </div>
      </div>
{% endblock %}