{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block comment %}
      <!---------------------------------->
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="single-box">
                  <div class="row">
                     <div class="col-md-7">
                        <h4>{{product.name}}</h4>
                        <hr>
                        <div class="row">
                           <div class="col-md-7">
                              <div class="single-content-right">
                                 <ul class="brand-ul">
                                    <li>برند : <a href="#">{{product.mark}}</a></li>
                                    <li>دسته بندی : <a href="#">{{cat}}</a></li>
                                 </ul>
                                 <br>
                                 <span>مشخصات مختصر محصول :</span><br>
                                 <ul class="product-ul">
                                    <li></li>

                                    <li>{{ product.description }}</li>


                                 </ul>
                              </div>
                           </div>
                           <div class="col-md-5">
                              <div class="single-content-left">
                                 <ul>
                                    <span>وضعیت : موجود در انبار</span><br><br>
                                    <li>گارانتی : Huawei</li>
                                    <br>
                                    <li>
                                       رنگ بندی : 
                                       <ul>
                                          <li><i class="fa fa-square white"></i>سفید</li>
                                          <li><i class="fa fa-square black"></i>مشکی</li>
                                          <li><i class="fa fa-square silver"></i>نقره ای</li>
                                          <li><i class="fa fa-square gold"></i>طلایی</li>
                                       </ul>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <hr>
                        {% if product.discount == 0 %}
                           <br>
                        {% else %}
                        <div style="text-align: center"><del><h4>{{product.price|intcomma}}</h4></del></div>

                        {% endif %}
                        <h3>{{product.discounted_price | intcomma}} تومان</h3>
                        <div>
                           <form action="{% url 'cart_add' %}" method="post">

                           <input  class="btn btn-primary" name="product_id" type="text" value="{{product.id}}" id="add-cart">
                           <input type="submit" value="خرید">

                        {%csrf_token%}
                        </form>
                        </div>





                     </div>
                     <div class="col-md-5">
                        <div class="single-img">
                           <figure>
                              <img src="{{product.img.url}}" class="w-100 s-img" data-zoom-image="img/single-tablet.jpg">
                           </figure>
                        </div>
                        <div class="single-img-slider">
                           <div class="owl-carousel owl-theme ov-single">
                              <div class="item">
                                 <a data-fancybox="gallery"  href="img/single-tablet.jpg"><img src="img/single-tablet.jpg" class="w-100"></a>
                              </div>
                              <div class="item">
                                 <a data-fancybox="gallery"  href="img/single-tablet.jpg"><img src="img/single-tablet.jpg" class="w-100"></a>
                              </div>
                              <div class="item">
                                 <a data-fancybox="gallery"  href="img/single-tablet.jpg"><img src="img/single-tablet.jpg" class="w-100"></a>
                              </div>
                              <div class="item">
                                 <a data-fancybox="gallery"  href="img/single-tablet.jpg"><img src="img/single-tablet.jpg" class="w-100"></a>
                              </div>
                              <div class="item">
                                 <a data-fancybox="gallery"  href="img/single-tablet.jpg"><img src="img/single-tablet.jpg" class="w-100"></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->  
      <div class="container">
         <span class="releated-products">محصولات مرتبط</span>
         <hr>
         <div class="row">
            <div class="col-md-12">
               <div class="single-two-slider">
                  <div class="owl-carousel owl-theme ov-single-two">
                     {% for product in product_all %}
                     <div class="item">
                        <figure>
                           <a href="{% url 'vue' product.pk %}"><img src="{{product.img.url}}" class="w-100" /></a>
                        </figure>

                        {% if product.discount == 0 %}

                        {% else %}
                        <div><del>{{product.price|intcomma}}</del></div>
                        {% endif %}
                        <span>{{product.discounted_price | intcomma }}تومان</span>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->  
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="single-tabs">
                  <ul class="nav nav-tabs">
                     <li class="active"><a data-toggle="tab" href="#one"><i class="fa fa-file"></i>مشخصات فنی</a></li>
                     <li><a data-toggle="tab" href="#two"><i class="fa fa-pencil"></i>نظرات کاربران</a></li>
                  </ul>
                  <div class="tab-content">
                     <div id="one" class="tab-pane fade">
                        <p class="bg-light"><span>شرکت سازنده:</span>هوآوی</p>
                        <p class="bg-light"><span>مدل:</span>Tab G6</p>
                        <p class="bg-light"><span>گارانتی:</span>Huawei</p>
                        <p class="bg-light"><span>شبکه های تلفن:</span>4G-3G-LTE</p>
                        <p class="bg-light"><span>تعداد سیمکارت:</span>2</p>
                        <p class="bg-light"><span>حافظه داخلی:</span>32G</p>
                        <p class="bg-light"><span>پشتیبانی از کارت sd:</span>بله</p>
                        <p class="bg-light"><span>باتری:</span>1300 میلی آمپر</p>
                        <p class="bg-light"><span>باتری اضافی:</span>ندارد</p>
                        <p class="bg-light"><span>جک هدفون:</span>دارد</p>
                        <p class="bg-light"><span>گارد:</span>ندارد</p>
                     </div>
                     <div id="two" class="tab-pane fade">
                        نظری وجود ندارد...

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!------------------------------>
<script>
   // var addToCartUrl = "{% url 'cart_add' %}";
   // var csrfToken = "{{ csrf_token }}";
   //
   // $(document).on('click', '#cartm', function(e){
   //    e.preventDefault();
   //    $.ajax({
   //       type: 'POST',
   //       url: addToCartUrl,
   //       data:{
   //          product_id: $('#cartm').val(),
   //          csrfmiddlewaretoken: csrfToken,
   //          action: 'post',
   //       },
   //       success: function(json){
   //          console.log(json)
   //       },
   //       error: function (xhr, errmsg, err){
   //
   //       }
   //    })
   // })
</script>
<!--<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> &ndash;&gt;-->
{% endblock %}