{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block comment %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <img src="{{post.img.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> {{post.title}}</h5>
          <p class="card-text">{{ post.body }}</p>
          <p class="">نوشته شده در :{{ post.c_date }}</p>
          <p class="">نویسنده : {{ post.account }} </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}